@import (reference) "../../base.less";

.@{prefix-cls}-symbol-search-modal-input {
  margin: 20px 0 10px 0;
  height: 40px;
  svg {
    width: 18px;
    height: 18px;
    fill: var(--klinecharts-pro-text-second-color);
  }
  .value {
    font-size: 16px;
  }
}
.@{prefix-cls}-symbol-search-modal-list {
  height: 400px;
  margin-left: -20px;
  margin-right: -20px;

  li {
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }
    }
  }
}

.symbol-info {
  display: flex;
  align-items: center;
  gap: 4px;

  .star {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
  }

  .symbol-shortname {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .symbol-name {
    margin-left: auto;
    color: var(--klinecharts-pro-text-second-color);
    white-space: nowrap;
  }
}
